<configuration>

<!--    <include resource="org/springframework/boot/logging/logback/base.xml" /> Inheriting the base configs -->

<!--    <logger name="root" level="OFF/TRACE/DEBUG" /> Configure root log level -->
<!--    <logger name="com.example.logback" level="TRACE" /> Configure package log level-->

    <!-- Appender: defines where logs go (Console, File, etc.) -->
    <!-- Encoder: formats log messages -->
    <!-- Pattern: controls log format (e.g., %d = timestamp, %msg = message) -->
    <!-- Root: sets default log level (TRACE, DEBUG) -->
    <!--    -->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--    </root>-->

<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/app.log</file>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </appender>-->

<!--    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/app.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="com.example" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE" />-->
<!--    </logger>-->

</configuration>